# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Linux
.DS_Store

# Environment variables
.env*
!.env.example   

# Logs
*.log